/build/
/dist/
/nbproject/private/
/src/gpvm/
/src/taiga/td/
/src/hyperion/
/src/mods/
/src/sandboxgame/
/test/
/lib/doc/
/lib/junit/
/lib/junit_4/
/lib/CopyLibs/
/lib/nblibraries.properties
/nbproject/
*.mf
